# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Build Dockerfile
      run: |
        docker build -t postgres-blog .
    
    - name: Spin up postgres container
      run: |
        docker run --name postgres-blog -p 5432:5432 -e POSTGRES_PASSWORD=${{ secrets.PG_USER_PASSWORD }} -d postgres-blog

    - name: Run test pytest
      run: |
        pytest
